*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --color-brown-primary: #533a27;
   --color-brown-darken: #352315;
   --color-brown-dark: #351f0d;
   --color-brown-grey: #251f16;
}

body {
   padding: 0;
   margin: 0;
   overflow: hidden;
   background-color: #755c3f;
   font-family: Nunito, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: normal;
   padding: 0;
   margin: 0;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

input {
   outline: none;
   border: none;
   font-size: inherit;
   font-family: inherit;
}

textarea {
   resize: none;
   border: none;
   outline: none;
   font-family: inherit;
   font-size: inherit;
}

button {
   font-family: inherit;
}

#app {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}

.btn {
   display: inline-flex;
   justify-content: center;
   padding: 0.5rem 1rem;
   background-color: var(--color-brown-primary);
   border: 1px solid var(--color-brown-darken);
   color: #fff;
   letter-spacing: 1px;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.4s ease;
}

.btn:hover {
   background-color: var(--color-brown-darken);
   border-color: var(--color-brown-dark);
}